.container {
	height: 100vh;
	padding: 0;
	margin: 0;
	background-color: rgba(22, 22, 22, 1);
}
.content {
	text-align: center;
	padding-top: 10vh;
	width: 80vw;
	margin: auto;
	position: relative;
	z-index: 5;
}
.content h1 {
	color: #f7eee5;
	font-weight: 600;
	font-size: 6.5rem;
	margin: 0;
	padding: 0;
	position: relative;
	z-index: 5;
}
.content h4 {
	color: #fff;
	font-weight: 300;
	padding: 0;
	margin: 0;
	font-size: 2rem;
	position: relative;
	z-index: 5;
}
.content button {
	width: 20%;
	margin: 2rem 30%;
	margin-top: 3rem;
	padding: 0.8rem 1rem;
	border-radius: 25px;
	font-size: 1rem;
	border: none;
	color: #fff;
	font-weight: 600;
	background: #3fabae;
	box-shadow: 0px 0px 150px #3fabae;
}
.features {
	width: 80%;
	margin: auto;
	margin-top: 5rem;
	position: relative;
}
.features hr {
	border: none;
	height: 5px;
	background: rgb(22, 22, 22);
	background: linear-gradient(
		90deg,
		rgba(22, 22, 22, 0) 0%,
		rgba(22, 22, 22, 0.7) 16%,
		rgba(22, 22, 22, 1) 50%,
		rgba(22, 22, 22, 0.7) 77%,
		rgba(22, 22, 22, 0) 100%
	);
	box-shadow: 0px -2px 8px #fe5826, 0px 2px 8px #3fabae;
}
.blur {
	position: absolute;
	left: -8px;
	top: -16px;
	width: 20%;
	height: 10vh;
	z-index: 0;
	background: linear-gradient(90deg, #161616 50%, rgba(22, 22, 22, 0) 100%);
}
.blur2 {
	position: absolute;
	right: -8px;
	top: -16px;
	width: 20%;
	height: 10vh;
	transform: rotateY(180deg);
	z-index: 0;
	background: linear-gradient(90deg, #161616 50%, rgba(22, 22, 22, 0) 100%);
}
.blurSpot1 {
	height: 170px;
	width: 170px;
	border-radius: 50%;
	background: #3fabae;
	filter: blur(269px);
	position: absolute;
	transform-origin: center;
	top: -85px;
	left: 50px;
	z-index: 0;
	opacity: 0.5;
}
.blurSpot2 {
	height: 170px;
	width: 170px;
	border-radius: 50%;
	background: #fe5826;
	filter: blur(269px);
	opacity: 0.5;
	position: absolute;
	top: 10vh;
	left: 15vw;
}
.blurSpot3 {
	height: 170px;
	width: 170px;
	border-radius: 50%;
	background: #fe5826;
	filter: blur(300px);
	position: absolute;
	top: 10px;
	right: 10px;
	opacity: 0.5;
}
.blurSpot4 {
	height: 120px;
	width: 120px;
	border-radius: 50%;
	background: #3fabae;
	filter: blur(200px);
	top: 5vh;
	right: 20vw;
	opacity: 0.5;
	position: absolute;
}
.blurSpot5 {
	background: #fe5826;
	filter: blur(200px);
	position: absolute;
	height: 120px;
	width: 120px;
	border-radius: 50%;
	left: -30px;
	top: 10px;
	opacity: 0.5;
}
.bg {
	height: 50vh;
	width: 50vw;
	z-index: 1;
	position: absolute;
	top: 25vh;
	left: 25vw;
	margin-top: 30vh;
	margin: auto;
	background: #161616;
	filter: blur(350px);
}
.bg2 {
	height: 50vh;
	width: 50vw;
	z-index: 1;
	position: absolute;
	top: 25vh;
	left: 25vw;
	margin-top: 30vh;
	margin: auto;
	background: #161616;
	filter: blur(150px);
}
.waves {
	top: 40vh;
	left: 0vw;
	z-index: 0;
	position: absolute;
	z-index: 0;
	opacity: 0.1;
}
